@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-color: #f8f1dc;
  --secondary-color: #19225a;
  --x-color: #e9b74c;

  font-family: 'ETBembo', BoldLF;
  src: url("/et-book-bold-line-figures.ttf");
}



::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}